<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>My Heartbeat</h1>
    <canvas id="myChart" width="400" height="200"></canvas>
    <p>This is an application to monitor your heart rate. It uses real data from Fitbit and can detect abnormalities.</p>
    <a type="button" class="btn btn-lg btn-default" id="addPoint">Simulate irregular heartbeat</a>
    <a type="button" class="btn btn-lg btn-default" id="stopData">Stop simulation</a>
    <a type="button" class="btn btn-lg btn-default" id="notifyMe">Analyze heartbeat</a>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-bottom: 50px">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How My Heartbeat Works</h3>
      <ul>
        <li>Uses real time heart beat information to detect irregular heartbeats</li>
        <li>Automatically turns on smart fan if user has an elevated heart rate</li>
        <li>Notifys user of elevated irregular heartbeat through an Echo device</li>
        <li>Can send alerts to caretakers and family members</li>
       </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-heart"></span> User Benefits</h3>
      <ul>
        <li>Automatically cools down user during hot flashes with smart fan</li>
        <li>Analyzes resting heart rate for irregular heartbeats</li>
        <li>Alerts user of heartbeat abnormalities</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>


</body>
<% include ../partials/footer.ejs %>
</html>
